[package]
name = "melody-dsp"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
wasm-bindgen = "0.2"
console_error_panic_hook = "0.1"

# FFT-based phase vocoder (offline-ish)

pitch_shift = "1.0.0"
